* {
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}
a {
    text-decoration: none;

}
.container {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    padding: 0 5px;
}
header {
    background: #a1b556;
    height: 80px;
}
header b {color: #9f511b}
#nav-header {
    height: 30px;
    background: #ccff9a;
    margin: 5px 0;
}

#main-content {
    display: flex;
    /*min-height: 400px;*/
    padding-bottom: 5px;
}

#left-side {
    width: 20%;
    background: #99ff99;
    margin-right: 5px;
}

/* flex container items products ---------IMPORTANT---------- */
#middle-strong {
    background-color: #ccc;
    width: 60%;
    display: flex; /*flex container items*/

    /* items con tu roi xuong */
    flex-wrap: wrap;

    /*roi tu trai qua phai | no space bigger between giua 2 line*/
    align-content: flex-start;


    /*flex-direction: row;*/
    /*flex-flow: row;*/
} /*-----------IMPORTANT-----------------/. flex container items products */

#right-side {
    width: 20%;
    background: #99ff99;
    margin-left: 5px;
}

footer {
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #7d8f3d;
}

/* 2. Menu 1 cấp */
nav#nav-header ul li {
    float: left;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border-right: red dotted 1px;
}

nav#nav-header ul li:last-child {
    border: none;
}

nav#nav-header ul li a {
    display: block;
    width: 100%;
}

/* list items product */
    /* IMPORTANT BOX-MODAL  */
article#middle-strong .items-sp {
    width: 24%;
    height: 280px;
    margin: 0.5%;
    text-align: center;
    padding: 2%;
    border: solid blue 1px;
}

article#middle-strong .items-sp img {
    width: 80%;
}
article#middle-strong .items-sp button {
    padding: 3px;
    margin-bottom: 3px;
}

article#middle-strong .items-sp h5 {
    color: red;
}
