* {
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}
a {
    text-decoration: none;
}
.container {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    padding: 0 5px;
}
header {
    background: #a1b556;
    height: 100px;
}
header b {color: #9f511b}
#nav-header {
    height: 30px;
    background: #ccff9a;
    margin: 5px 0;
}
#nav-header > ul {
    display: none;
}
#main-content {
    padding-bottom: 5px;
}

#left-side {

    background: #99ff99;
    margin-right: 5px;
    width:  100%;
    display:  block;
    min-height:  60px;
}

/* flex container items products ---------IMPORTANT---------- */
#middle-strong {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content:  center;
} /*-----------IMPORTANT-----------------/. flex container items products */

#right-side {
     width: 20%;
     background: #99ff99;
     margin-left: 5px;
    display:  none;
}

footer {
    background-color: #7d8f3d;
    display: flex;
    justify-content: space-around; /*Khoang trang nam xug quanh chu*/
    text-align: center;
    padding: 40px;
}

/* 2. Menu 1 cấp */
nav#nav-header ul li {
    float: left;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
nav#nav-header > ul > li{
    border-right: red dotted 1px;
}
nav#nav-header ul li:last-child {
    border: none;
}

nav#nav-header ul li a {
    display: block;
    width: 100%;
}

/* list items product */
/* IMPORTANT BOX-MODAL  */
article#middle-strong .items-sp {
    margin: 0.5%;
    text-align: center;
    border: solid blue 1px;
}

.items-sp h4 {
    display: flex;
    justify-content: space-around; /*Khoang trang nam xug quanh chu*/
    text-align: center;
    padding: 10px;
}

article#middle-strong .items-sp img {
    max-width: 100%;
}


article#middle-strong .items-sp button {
    padding: 5px 10px;
    margin:5px 0 5px 0;
}
.bars-custom {
        text-align: center;
        border: 1px solid #ddd;
        color: black;
        font-size: 25px;
        height: 100%;
        background-color: #dfdee7;
        cursor:pointer;
    }
article#middle-strong .items-sp h5 {
    color: red;
}

/*==RESPONSIVE==*/

@media screen and (min-width: 460px) and (max-width: 768px) {
    article#middle-strong .items-sp {
        width: 49%;
    }

    article#middle-strong .items-sp h4 {
    height: 40px;
    padding: 5px;
    line-height: 40px;
    text-overflow: ellipsis; /*process text longer*/
    overflow: hidden; /*process text longer*/
    white-space: nowrap; /*process text longer*/
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    article#middle-strong .items-sp {
        width: 32.33%;
    }

    article#middle-strong .items-sp h4 {
        height: 40px;
        padding: 5px;
        line-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
    #left-side {
         width: 25%;
    }

    article#middle-strong {
        width: 75%;
    }

    #main-content {
         display: flex;
        /*min-height: 400px;*/
        padding-bottom: 5px;
    }

    #nav-header > ul {
        display: block;
    }
    nav#nav-header > button {
        display: none ;
    }
}

@media screen and (min-width: 1001px) {
    article#middle-strong .items-sp {
        width: 24%;
    }

    #main-content {
        display: flex;
        padding-bottom: 5px;
    }

    #left-side {
        width: 20%;
        display: initial; /*bo cai hien tai*/
    }

    article#middle-strong {
        width: 60%;
    }

    #right-side {
        display: block !important;
    }

    #nav-header > ul {
        display: block;
    }
    nav#nav-header > button {
        display: none ;
    }

    article#middle-strong .items-sp h4 {
        height: 40px;
        padding: 5px;
        line-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }

}
/*==/. RESPONSIVE==*/



/*==Menu Multi level==*/
#nav-header > ul > li {
    position: relative;
}
#nav-header > ul > li:hover {
    background-color: #eee;
}
#nav-header > ul > li > ul{
    position: absolute;
    z-index: 9999;
    background-color: #9df8cc;
}
#nav-header > ul > li > ul li {
    min-width: 150px;
    border-bottom: 1px solid #ccc;
}

#nav-header > ul > li > ul li:hover > a {
    /*background: #7d8f3d;*/
    text-decoration: underline;
    color: red;
}
#nav-header > ul > li > ul > li { position: relative}
#nav-header > ul > li > ul > li > ul {
    position: absolute;
    left: 150px;
    top: 0;
    background-color: #f6f5a5;
}

/*.level1, .level2 {*/
#nav-header > ul > li > ul,  #nav-header > ul > li > ul> li > ul{
    display: none;
}

#nav-header > ul > li:hover > ul {
    display: block;
}
#nav-header > ul > li > ul > li:hover > ul {
    display: block;
}